.div{
    display: flex;
    flex-direction: column;
}
.button {

    background-color: rgb(218, 153, 13);
    height: 38px;
    width:  120px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
   align-self: center;

}
.button:hover {
    background-color: rgb(243, 208, 12);
    animation:  breath 1s
}

@keyframes breath {
    from {transform: scale(1)}
    to {transform: scale(1.1)}

}

.al{
    display: flex;
    flex-direction: row-reverse;

}
.all{
    display: flex;
    flex-direction: column-reverse;
    justify-items: end;

}